@import url(bevellier.css);
@import "https://unpkg.com/open-props";

body,html {
    overflow-x:hidden;
}
body {
    margin:0;
    color:#FFF;
    font-family: 'Bevellier-Semibold';
}

section {
    display:flex;
    align-items:center;
    justify-content: center;
	  height: 100vh;
    flex-direction: column;
}
.panel-1 {
    background-image: var(--gradient-19);  
}
.panel-2 {
    background-image: var(--gradient-5);
}
.panel-3 {
    background-image: var(--gradient-20);
}

h1 {
    font-size:4rem;
}